
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Sub App</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body ng-app="subApp" ng-controller="SubController">

    <div class="container">

        <!-- new request elements -->
        <button class="btn btn-success" ng-click="toggleNewRequestForm()">New Sub Request</button>

        <div class="" ng-show="requestFormVisible" ng-cloak>
            <h2>New Sub Request</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt cursus lectus, a vestibulum nibh vulputate non. Aenean vitae metus vel ante cursus eleifend. Sed egestas ullamcorper egestas.</p>
            <form novalidate>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" ng-model="request.name" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label>email</label>
                    <input type="email" ng-model="request.email" class="form-control" required />
                    <br />
                </div>
                <div class="form-group">
                    <label>date</label>
                    <input type="date" ng-model="request.date" class="form-control" required />
                    <br />
                </div>
                <input class="btn" type="button" ng-click="toggleNewRequestForm()" value="Cancel" />
                <input class="btn btn-default" type="submit" ng-click="addRequest(request)" value="Submit" />
            </form>
        </div>

        <!-- start sub request list -->
        <h2>Sub Request List</h2>
        <ul class="sub-request-list">
            <li ng-repeat="request in requests | orderBy: 'date'">
                <p>{{request.name}}</p>
                <p>{{request.email}}</p>
                <p>{{request.date}}</p>

                <!--
                <p>{{request.email}}</p>
                <p>{{request.className}}</p>
                <p>{{request.time}}</p>-->

                <div ng-show="{{request.fulfilled}}">
                    <p>This sub request is fulfilled.</p>
                    <p><strong>Sub info:</strong> {{request.subName}} / {{request.subEmail}}</p>
                    <div class="btn btn-danger" ng-click="requests.$remove(request)">
                        Delete sub request
                    </div>
                </div>

                <div ng-hide="{{request.fulfilled}}" class="bg-info">
                    <h5>Sub this class</h5>
                    <p><small>By submitting this form you are agreeing to sub this class.</small></p>
                    <form novalidate>
                      <div class="form-group">
                        <label>Sub Name</label>
                        <input type="text" ng-model="request.subName" class="form-control" required/>
                      </div>
                      <div class="form-group">
                        <label>Sub Email</label>
                        <input type="email" ng-model="request.subEmail" class="form-control" required /><br />
                      </div>
                      <input class="btn btn-default" type="submit" ng-click="addSub(request)" value="Submit" />
                    </form>
                </div>

            </li>
        </ul>


    </div>
    <pre style="margin-top:50px;">{{ requests | json }}</pre>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="app.js"></script>

</body>

</html>
