.sub-request-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-request-list li {
  border-top: 5px solid #ccc;
  margin-top: 30px;
  padding-top: 30px;
}

.sub-request-list li:first-child {
  border-top: none;
  padding-top: 0;
}

.bg-info {
  padding: 15px;
}
