.sub-request-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.new-sub-request {
  margin-top: 15px; }
  .new-sub-request .bg-gray {
    padding: 22.5px; }
  .new-sub-request h2 {
    margin-top: 0; }
  .new-sub-request form .btn {
    float: right;
    margin-left: 7.5px; }

.btn-new-request {
  width: 100%; }

.bg-gray {
  background: #eee;
  padding: 15px; }

.bs-callout {
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px; }
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px; }
  .bs-callout p:last-child {
    margin-bottom: 0; }
  .bs-callout .btn {
    margin-top: 15px; }
  .bs-callout + .bs-callout {
    margin-top: -5px; }
  .bs-callout .remove-request {
    float: right; }

.callout-red {
  border-left-color: #a94442; }
  .callout-red h4 {
    color: #a94442; }

.callout-green {
  border-left-color: #558564; }
  .callout-green h4 {
    color: #558564; }

.class-info {
  margin: 15px 0; }
  .class-info > p {
    margin-bottom: 5px; }

.ng-submitted .form-control.ng-invalid {
  border-color: #a94442; }

.select-group select {
  display: inline-block;
  margin-right: 1%;
  width: 30%; }

.loading {
  margin-top: 15px; }
  .loading img {
    margin: auto; }
