<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>a pretty pointless web app</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head> 

<body ng-app="funApp" ng-controller="MainCtrl">
    <div class="loading-wrapper" ng-hide="dataLoaded">
        <span class="loading"></span>
    </div>

    <div class="wrapper" ng-show="dataLoaded" ng-cloak>

        <header>
            <h1>ck/liz top
                <span ng-cloak>{{items.length}}</span>
            </h1>
        </header>

        <main>
            <h2>add a place</h2>
            <form name="newItemForm" ng-submit="newItemForm.$valid && addItem(item)" novalidate>
                <input type="text" name="name" ng-model="item.name" class="form-control" required />
                <button class="btn btn-default" type="submit">add</button>
                <div class="error" ng-show="newItemForm.$submitted || newItemForm.name.$touched">
                    <span ng-show="newItemForm.name.$error.required">pls enter something.</span>
                </div>
            </form>
            <ul>
                <li ng-repeat="item in items">
                    <p>{{item.name}}
                        <button ng-click="items.$remove(item);updateNumberOfItems();">
                            delete
                        </button>
                    </p>
                </li>
            </ul>
        </main>

        <aside>
            <h2>where should we go back to?</h2>
            <button ng-click="generateFun()">generate fun</button>
            <div class="fun-idea">
                <span ng-if="funIdea">{{randomItem}}</span>
            </div>
        </aside>

        <footer>sdregas&copy;&copy;&copy;</footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="app.js"></script>
</body>

</html>